/*---------Header Navbar----------------*/
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--primary-hover) 70%, #e67e22 100%);
    padding: 1.5rem 1rem;
    box-shadow: var(--shadow);
}

.navbar-brand, .nav-link {
    color: var(--text-color) !important;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--primary-light) !important;
}

.btn-light {
    background-color: var(--primary-light);
    border-color: var(--primary-color);
    color: #000;
    border-radius: 25px;
    padding: 0.5rem 1.25rem;
    font-weight: 600;
    transition: all 0.4s ease;
}

.btn-light:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
    color: var(--text-color);
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.btn-outline-light {
    border-color: var(--text-color);
    color: var(--text-color);
    border-radius: 20px;
    padding: 0.5rem 1.25rem;
}

.btn-outline-light:hover {
    background-color: var(--primary-hover);
    color: var(--text-color);
    border-color: var(--primary-hover);
}

.form-control {
    border-radius: 20px;
    padding: 0.5rem 1.25rem;
}



/* Logo */
.custom-logo {
    font-family: 'Lobster', cursive;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out;
    letter-spacing: 2px;
}

.custom-logo:hover {
    transform: scale(1.2) rotate(-3deg);
    text-shadow: 5px 5px 15px rgba(0, 123, 255, 0.5);
}