<div th:fragment="header(userName)" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg p-3" style="background-color: #F07900;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand fw-bold custom-logo" th:href="@{/}">Tasty & Easy</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active fw-bold custom-home-link" aria-current="page" th:href="@{/}">Trang chủ</a>
                    </li>
                </ul>
                <form class="d-flex me-2" th:action="@{/search}" method="get">
                    <button class="btn btn-outline-light me-2" type="submit"><i class="bi bi-search"></i></button>
                    <input class="form-control rounded-pill me-auto" type="search" name="q" placeholder="Tìm kiếm">
                </form>
                <!-- Nếu có session đăng nhập thì hiển thị dropdown -->
                <div sec:authorize="isAuthenticated()">
                    <!-- Avatar Dropdown -->
                    <div class="dropdown" onclick="event.stopPropagation()">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                           id="userDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img th:src="@{/img/img_avatar.jpg}" alt="Avatar" width="40" height="40"
                                 class="rounded-circle me-2">
                            <p class="dropdown-item m-0" th:text="${userName}"></p>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" th:href="@{/profile}">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"
                                   onclick="document.getElementById('logout-form').submit();">Logout</a>
                                <form id="logout-form" th:action="@{/logout}" method="post"
                                      style="display: none;"></form>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Nếu không có thì hiển thị phần đăng nhập đăng kí-->
                <div sec:authorize="isAnonymous()">
                    <a th:href="@{/login}" class="btn btn-light me-2 login_btn">Đăng nhập</a>
                    <a th:href="@{/register}" class="btn btn-outline-light">Đăng ký</a>
                </div>
            </div>
        </div>
    </nav>
</div>