# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Thư mục của IntelliJ IDEA
../.idea/

# Thư mục build của Maven
../target/
# Tệp cấu hình môi trường cục bộ
*.iml
*.log

# Tệp chạy Maven Wrapper
../mvnw
../mvnw.cmd

# Thư mục của Maven Wrapper
../.mvn/